[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VBsparsePCA"]
	path = VBsparsePCA
	url = https://github.com/yc-ning/vbsparsepca
